<div id="wrapper">
  <header>
    
    <%= link_to (image_tag ("logo-small.png"), :width => "150px", :height => "120px", :title => "Paint for Future"), home_index_path %> 
  <a href="<%= home_index_path %>">
    <div id="main-title">
      <h1 style="font-size:48px;margin-left:-50px;margin-top:10px;">PAINT FOR FUTURE</h1>
      <h3 style="margin-left:-50px;">AID THROUGH ART</h3>
     </div> 
  </a>
    <div id="menu-wrapper">
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#" id="bootstrap-menu-title">Paint for Future</a>
            <ul class="nav" id="bootsrap-menu-items">
              <li class=<%= is_current_page(projects_path) %>> 
                <%= link_to "THE PROJECT", projects_path %>
              </li>
              <li class=<%= is_current_page(goals_path) %>>
                 <%= link_to "THE CENTER", goals_path%>
              </li>
              <li class=<%= is_current_page(videos_path) %>>
                <%= link_to "PARTNERS", videos_path%>
              </li>
              <li class=<%= is_current_page(posts_path) %>>
                <%= link_to "NEWS", posts_path %>
              </li>
              <li class=<%= is_current_page(galleries_path) %>>
                <%= link_to "GALLERY", galleries_path%>
              </li>
              <li class=<%= is_current_page(contacts_path) %>>
                 <%= link_to "ABOUT US", contacts_path %>
              </li>
            </ul>
          </div>
        </div>  
      </div>
    </div>
  </header>
</div>


