<div id="wrapper">
  <header>
    
    <%= link_to (image_tag ("logo-small.png"), :width => "150px", :height => "120px"), home_index_path %> 
  <a href="<%= home_index_path %>">
    <div id="main-title">
      <h1>Paint for Future</h1>
      <h3>Aid through Art</h3>
     </div> 
  </a>
    <div id="menu-wrapper">
     <ul id="menu">
        <li>
          <%= link_to 'Paint for Future', home_index_path %>
        </li>
        <li>
          <%= link_to "Project", projects_path %>
        </li>
        <li>
           <%= link_to "The Center", goals_path %>
        </li>
        <li>
          <%= link_to "Partners", videos_path %>
        </li>
        <li>
          <%= link_to "Log", posts_path %>
        </li>
        <li>
           <%= link_to "Contact", contacts_path %>  
        </li>
      </ul>
    </div>
  </header>
</div>
