<div id="header" class="container">
    <div id="menu">
    <ul>
      <li>
        <%= link_to 'Paint for Future', home_index_path %>
      </li>
      <li> 
        <%= link_to "Project", projects_path %>
      </li>
      <li> 
         <%= link_to "The Center", goals_path %>
      </li>
      <li> 
         <%= link_to "Partners", videos_path %>
      </li>
      <li> 
        <%= link_to "Log", posts_path %>
      </li>
      <li> 
         <%= link_to "Contact", contacts_path %>  
      </li>
    </ul>
    <%= image_tag "underline1.png" %>
  </div>
</div>
