<div id="wrapper"> 
 
 <%= image_tag ("future.png"), :id => 'name' %>  
 <%= image_tag ("logo-small.png"), :id => 'logo' %>  
  <div class="sideshow-container">
			<div class="slider-container">
				<div id="slideshow" class="nivoSlider">
            <%= image_tag ("slides/slide1.jpg" %>
            <%= image_tag ("slides/slide2.jpg" %>
            <%= image_tag ("slides/slide3.jpg" %>
				</div><!-- end of slideshow -->
			</div>
		</div><!-- end of slideshow -->
		<h2 id="slogan">
			Discover the new generation of artists 							
		</h2>
</div>

