<div id="wrapper">

  <div class="sideshow-container">
  		<h3 id="slogan">
			Discover the new generation of artists						
		</h3>
			<div class="slider-container">
				<div id="slideshow" class="nivoSlider">
		            <%= image_tag "slides/slide3.jpg" %>
		            <%= image_tag "slides/slide1.jpg" %>
				</div><!-- end of slideshow -->
			</div>
		</div><!-- end of slideshow -->
	<%= render "home/circle_links" %>
	<%= render "home/paypal_donate" %>		
	<%= render "home/partners" %>

  <%= javascript_include_tag "homes" %>

</div>
