<div id="wrapper">
	<h3 id="slogan">
		Discover the new generation of artists						
	</h3>
  <div class="sideshow-container">
		<div class="slider-container">
			<div id="slideshow" class="nivoSlider">
        <%= image_tag "slides/slide3.jpg" %>
        <%= image_tag "slides/slide1.jpg" %>
			</div><!-- end of slideshow -->
		</div>
	</div><!-- end of slideshow -->
	<% if @homepage_message %>
		<div id="homepage-message">
			<h3><%= @homepage_message.title %></h3>
			<%= raw @homepage_message.content %>
		</div>
	<% end %>
	<%= render "home/circle_links" %>
	<%= render "home/paypal_donate" %>		
	<%= render "home/partners" %>
  <%= javascript_include_tag "homes" %>
</div>
