<title> Paint for Future - Contact</title>

<div id="wrapper">
  <h1 class="main-heading">Project coordinators</h1>
 
  <ul class="cards">
    <% @contacts.each do |contact| %>
      <li>
      
        <%= image_tag contact.image_url(:thumb).to_s, :size => "80x100" if contact.image? %>

        <div class="info">
          <h1><%= link_to contact.name, contact %></h1>
          <hr>
          <p><%= contact.job_title %></p>
          <p><%= contact.email.html_safe %></p>
          <% if contact.website? %> 
            <p><%= link_to contact.website, "onclick" => "window.open('#{contact.website}'); return false;" %></p>
          <% else %> 
            <p><%= contact.phone_number %></p> 
          <% end %>
      </li>
    <% end %>
  </ul>  

  <div id="more-info">
    <h1>For more information or interest in becoming a sponsor.</h1>
    <p>Or if your interested in becoming a partner or working with us please send us an email, we can never be to many.</p>
    <br>
    <p>Send an email to: <i><%= mail_to "info@paintforfuture.org" %></a></i></p>

  </div>

  <div id="sierra-contact">
    <h1>Sierra Leone Contact</h1>
    <h2>Dauda Koroma</h2>
    <p><i>Manager of The Needy Today</i></p>
    <p>theneedytoday@yahoo.com</p>
    <p>+(232) 334 745 73</p>
    <p>
      Visit The Needy Todays <a href="http://orphanage.org/africa/sierraleone/tnt/" onclick="window.open('http://orphanage.org/africa/sierraleone/tnt/'); return false;">website</a>
    </p>  
  </div>
  <br>

  <div style="margin-left:20px;">
    <b>Follow us on:</b> 
    <br>
    <%= link_to image_tag("icons/facebook.png", :size => "34x34"), "http://www.facebook.com/Paintforfuture", :title => "follow on Facebook", :id => "share-buttons" %>
    <%= link_to image_tag("icons/twitter.png", :size => "34x34"), "http://twitter.com/paintforfuture", :title => "follow on Twitter", :id => "share-buttons" %>
  </div>

  <%= render :partial => "home/partners" %>


</div>
