<title> Paint for Future - Contact</title>

<div id="wrapper">
  
  <%= render :partial => "home/announcement" %>
  
  <%= render :partial => "home/about_us" %>

  <h1 class="main-heading">Project coordinators</h1>
 
  <ul class="cards">
    <% @contacts.each do |contact| %>
      <li>
      
        <%= image_tag contact.image_url(:thumb).to_s, :size => "80x100" if contact.image? %>

        <div class="info">
          <h1><%= link_to contact.name, contact %></h1>
          <hr>
          <p><%= contact.job_title.html_safe if contact.job_title? %></p>
          <p><%= contact.email.html_safe %></p>
          <% if contact.website? %> 
            <p><%= link_to contact.website, contact.website, :class => "external-links"%></p>
          <% else %> 
            <p><%= contact.phone_number %></p> 
          <% end %>
      </li>
    <% end %>
  </ul>  

  <%= render :partial => "home/donate" %> 

  <br>
  <div>
    <b>Follow us on:</b> 
    <br>
    <%= link_to image_tag("icons/facebook.png", :size => "34x34"), "http://www.facebook.com/Paintforfuture", :title => "follow on Facebook", :id => "share-buttons", :class => "external-links" %>
    <%= link_to image_tag("icons/twitter.png", :size => "34x34"), "http://twitter.com/paintforfuture", :title => "follow on Twitter", :id => "share-buttons", :class => "external-links" %>
  </div>

  <%= render :partial => "home/paypal_donate" %>
  <%= render :partial => "home/partners" %>


</div>
