<div id="wrapper">
  <ul class="posts">
    <li>
      <header>
        <h1><%= link_to @contact.name, @contact %></h1>
      </header>
      <body>
        <div class="text">
          <p><%= @contact.description.html_safe if @contact.description? %></p> 
          <br>
          <p><i><%= @contact.job_title.html_safe if @contact.job_title? %></i>
          <p><%= mail_to @contact.email %></p>
          <p><%= @contact.phone_number %></p>
          <p><%= link_to @contact.website, @contact.website, :class => "external-links" %></p>
          
       </div>
      <%  if @contact.image? %>
        <%= link_to (image_tag @contact.image_url(:thumb).to_s), contact_path(@contact), :id => "fancybox", :href =>  @contact.image_url().to_s %>
      <% end %>
    </body>
    </li>
  </ul>
</div>
