<div class="wrapper">
  <ul class="contact-show">
    <li>
      <%= image_tag @contact.image_url(:thumb).to_s, :size => "300x300" if @contact.image? %>
      <h1><%= link_to @contact.name, @contact %></h1>
      <div class="contact-info">
        <p><i><%= @contact.job_title %></i>
        <p><%= @contact.email %></p>
        <p><%= @contact.phone_number %></p>
        <p><%= @contact.description %></p>
      </div>
    </li>
  </ul>
</div>
