<div id="wrapper">
  <div id="project-index">

    <div id="content-slider">
      <div>
        <% @messages.each do |message| %>
          <% if message.message_type == "Project intro text" %>
            <h1 id="project-main-title" ><%= message.title.html_safe if message.title? %></h1>
            <p id="project-statement">
              <%= message.content.html_safe if message.content? %>
            </p>
          <% end %>
        <% end %> 
        <ul class="project-links">
          <li>
            <a href="#" class="go-why">WHY</a>
          </li>
          <li>
            <a href="#" class="go-how">HOW</a>
          </li>
          <li>
            <a href="#" class="go-what">WHAT</a>
          </li>
        </ul>
        <%= render :partial => "home/circle_links" %>
      </div>


        <% @why.each do |why| %>
          <div>
            <h1 id="project-regular-title"><%= why.title %></h1>
            <div class="text">
              <p id="project-content"><%= why.content.html_safe %></p>
            </div>
            <ul class="project-links">
              <li>
                <a href="#" class="go-why">WHY</a>
              </li>
              <li>
                <a href="#" class="go-how">HOW</a>
              </li>
              <li>
                <a href="#" class="go-what">WHAT</a>
              </li>
            </ul>       
          </div>
        <% end %>
        
        <% @how.each do |how| %>
          <div>
            <h1 id="project-regular-title"><%= how.title %></h1>
            <div class="text">
              <p id="project-content"><%= how.content.html_safe %></p>
            </div>
            <ul class="project-links">
              <li>
                <a href="#" class="go-why">WHY</a>
              </li>
              <li>
                <a href="#" class="go-how">HOW</a>
              </li>
              <li>
                <a href="#" class="go-what">WHAT</a>
              </li>
            </ul>
          </div>
        <% end %>

        <% @what.each do |what| %>
          <div>
            <h1 id="project-regular-title"><%= what.title %></h1>
            <div class="text">
              <p id="project-content"><%= what.content.html_safe %></p>
            </div>
            <ul class="project-links">
              <li>
                <a href="#" class="go-why">WHY</a>
              </li>
              <li>
                <a href="#" class="go-how">HOW</a>
              </li>
              <li>
                <a href="#" class="go-what">WHAT</a>
              </li>
            </ul>
          </div>
        <% end %>
    </div>

    <%= render "home/pdf_links" %>      
    <%= render "home/paypal_donate" %>

    <br>
  </div>
</div>

<%= javascript_include_tag "bxslider" %>
<%= javascript_include_tag "projects" %>

