<div id="wrapper">
  <% @posts.each do |post| %>
      
    <ul class="posts"> 
      <li>
        <% if post.title? %>
          <header>
            <h1>
              <%= link_to post.title, post %>
            </h1>   
          </header>
        <% else %>
          <header>
            <h1>
              <%= link_to post.published_at.html_safe, post %>
            </h1>
          </header>
        <% end %>

        <body>
          <div class="text">
            <p><%= post.content.html_safe if post.content? %></p>
          </div>

          <% if post.image? %>
             <%= link_to (image_tag post.image_url(:thumb).to_s), post, :id => "fancybox", :href => post.image_url().to_s, :rel =>"posts-images" %>
          <% end %>
        </body>
      </li>
    </ul>
  <% end %>
    <ul class="pagination">
      <li>
      <h1><%= paginate @posts %></h1>
      </li>
    </ul>
</div> 
