<br />
<br />

<div id="page">
  <div id="content">
    <% @posts.each do |post| %>
     <div id="post">
       <h3>
          <%= link_to post.title, post %>
       </h3>


  <% if post.title? %>
     <p class="meta">
     <span class="date"><p><%= post.published_at.html_safe if post.published_at? %></p></span>
     </p>
  <% else %>
        <h3><%= link_to post.published_at.html_safe if post.published_at? %></h3>
  <% end %>
       <br />
       <%= image_tag post.image_url(:thumb).to_s if post.image?%>
       <div class="entry">
         <p class="large_font">
          <%= post.content.html_safe if post.content? %>
         </p>  
       </div>
     </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
  <% end %>
  <h3>
    <%= paginate @posts %>
  </h3>
      <br />
      <br />
      <br />
      <br />
  </div>
</div>
