<div id="wrapper">
  <% @posts.each do |post| %>
      
    <ul class="posts"> 
      <li>
        <% if post.title? %>
          <header>
            <h1>
              <%= link_to post.title, post %>
            </h1>   
          </header>
        <% else %>
          <header>
            <h1>
              <%= link_to post.published_at.html_safe if post.published_at? %>
            </h1>
          </header>
        <% end %>

        <body>
          <div class="text">
            <p>
              <%= post.content.html_safe if post.content? %>
            </p>
          </div>

          <% if post.image? %>
             <%= image_tag post.image_url(:thumb).to_s %>
          <% end %>
        </body>
      </li>
    </ul>

    <ul class="pagination">
      <li>
        <%= paginate @posts %>
      </li>
    </ul>
</div> 
