<div id="wrapper">
 <ul class="posts"> 
      <li>
        <header>
          <% if @post.title? %>
            <h1 id="post_title" style="margin-left:20px;" class="mercury-region" data-type="editable">
              <%= @post.title.upcase %>
            </h1>   
          <% end %>
        </header>

        <body>
          <div class="text">
              <p>
                <% if @post.sub_title? %>
                  <b id="post_sub_title" class="mercury-region" data-type="editable"><%= @post.sub_title.html_safe %></b>
                  <br>
                  <br>
                <% end %>
                <div id="post_content" class="mercury-region" data-type="editable">
                  <%= raw @post.content %>
                </div>

              </p>
              <% if admin_logged_in %>
                <%= link_to "Edit post", "/editor" + request.path, id: "edit_post_link" %>
                <p style="color:red;">
                  <% if @post.publish %>
                    <input id="post_publish_checkbox" type="checkbox" value="true"> Publish?
                  <% else %>
                    <input id="post_publish_checkbox" type="checkbox" value="false"> Publish?
                  <% end %>
                  <div id="post_publish" class="mercury-region" data-type="editable" style="display:none;">
                    <% if @post.publish %>
                      <p>true</p>
                    <% else %>
                      <p>false</p>
                    <% end %>
                  </div>
                </p>
              <% end %>
          </div>
          <% if @post.image? %>
             <%= link_to (image_tag @post.image_url(:thumb).to_s), @post, :class => "fancybox", :href => @post.image_url().to_s %>
          <% end %>
        </body>
        <hr>
        <div class="meta-text" style="margin-bottom:50px;">
            <% if @post.name == "SUSANNE HOLMSATER" %>
              <p><%= "#{@post.published_at.upcase},  #{@post.created_at.year}" if @post.published_at? %> by <b>SUSANNE HOLMSÄTER</b></p>
            <% else %>
              <p><%= "#{@post.published_at.upcase},  #{@post.created_at.year}" if @post.published_at? %> by <b><%= @post.name.upcase if @post.name? %> </b></p>
            <% end %>
        </div>
      </li>
    </ul>
    
</div>  
  
