<div id="wrapper">
  <ul class="posts">
    <li>
    <% if @post.title? %>
      <header>
        <h1><%= @post.title.html_safe %></h1>   
      </header>
    <% else %>
    <header>
        <h1><%= link_to @post.published_at.html_safe if @post.published_at? %></h1>
      </header>
    <% end %>

      <body>
        <div class="text">
          <p><%= @post.content.html_safe if @post.content? %></p>
        </div>
        <% if @post.image? %>
           <%= image_tag @post.image_url(:thumb).to_s if @post.image %>
        <% end %>
      </body>
       <iframe src="http://www.facebook.com/plugins/like.php?href=www.paintforfuture.org"
               scrolling="no" frameborder="0"
                       style="border:none; width:450px; height:80px"></iframe>

      <strong>
        <%= link_to 'View all news', posts_path %>
      </strong>
    </li>
  </ul>
</div>
  
