<div id="wrapper">

  <h1><%= @post.title %></h1>

  <% if @post.title? %>
    <p>
      <%= @post.published_at.html_safe if @post.published_at? %>
    </p>

  <% else %>
      <h1>
        <%= link_to @post.published_at.html_safe if @post.published_at? %>
      </h1>

  <% end %>

      
  <%= image_tag @post.image_url(:thumb).to_s if @post.image?%>
     
  <%= @post.content.html_safe if @post.content? %>
        
  <strong>
    <%= link_to 'View all news', posts_path %>
  </strong>
</div>
  