<div id="wrapper">
  <ul class="posts">
    <li>
    <% if @post.title? %>
      <header>
        <h1><%= @post.title.html_safe %></h1>   
      </header>
    <% else %>
    <header>
        <h1><%= link_to @post.published_at.html_safe if @post.published_at? %></h1>
      </header>
    <% end %>

      <body>
        <div class="text">
          <p><%= @post.content.html_safe if @post.content? %></p>
        </div>
        <% if @post.image? %>
           <%= link_to (image_tag @post.image_url(:thumb).to_s), post, :id => "fancybox", :href => @post.image_url().to_s  %>
        <% end %>
      </body>

      
      <br>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=282725478406647";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
        

      <ul id="dropdown">
        <li><a href="#" id="follow-text">Share</a>
          <ul>
            <li>       
              <div class="fb-like" data-href="http://www.paintforfuture.org" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false" data-font="trebuchet ms"></div>
            </li>
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.paintforfuture.org" data-hashtags="paintforfuture">Tweet</a>
            </li>       
           </ul>
        </li>
      </ul>
        
      
      <h3 id="back-link"><%= link_to 'View all news', posts_path %></h3>

    </li>
  </ul>
</div>
  
