<title> Paint for Future - Gallery</title>
<div id="wrapper">
	<ul class="gallery hoverbox">
		<div id="img-container">
			<% @galleries.each do |gallery| %>
				<% if gallery.image? %>
					<li>
						<%= link_to (image_tag gallery.image_url(:thumb).to_s), gallery, :class => "fancybox", :href => gallery.image_url().to_s, :rel =>"gallery-images", :title => (gallery.description if gallery.description?) %>
					</li>
	        	<% elsif gallery.video? %>
	        		<li>
	        			<%= link_to do %>
	        				<%= image_tag gallery.video.html_safe %>
	        				<%= image_tag gallery.video.html_safe, :class => "preview" %>
	        			<% end %>
	        		</li>
      		<% end %>
  			<% end %>		
		</div>
	</ul>

  <%= render "home/circle_links" %>
  <div style="margin-bottom:30px;">
    <%= render "home/paypal_donate" %>
  </div>
</div>