<div id="wrapper">
  <ul class="goals">
    <% @goals.each do |goal| %>

      <li>
        <h1><%= goal.title if goal.title? %></h1>
          <div class="text">
            <p><%= goal.content.html_safe if goal.content? %></p>
          </div>
      </li>

      <li><h1>Some of The Needy Today's artists</h1></li>
      
      <li> <%= image_tag "orphanage/11.jpg", :size => "182x253" %></li>
      <li> <%= image_tag "orphanage/12.png", :size => "182x253" %></li>
      <li> <%= image_tag "orphanage/13.jpg", :size => "182x253" %></li>

    <% end %>
  </ul>
</div>