<div id="wrapper">

  <% @goals.each do |goal| %>
    <ul>
      <li>
        <h1><%= goal.title if goal.title? %></h1>
        <p><%= goal.content.html_safe if goal.content? %></p>
      </li>
    </ul>

    <table cellpadding="20">
      <tr>
        <td> <%= image_tag "orphanage/11.jpg" %></td>
        <td> <%= image_tag "orphanage/12.png" %></td>
        <td> <%= image_tag "orphanage/13.jpg" %>  </td>
      </tr>
    </table>
        <h3>Some of The Needy Today's artists</h3>
    <table cellpadding="20">
      <tr>
        <td> <%= image_tag "orphanage/31.jpg" %> </td>
        <td> <%= image_tag "orphanage/32.jpg" %> </td>
        <td> <%= image_tag "orphanage/33.jpg" %> </td>
      </tr>
    </table>
   
     <%= goal.maps.html_safe if goal.maps?%>

    <% end %>
  </div>
</div>
