<!DOCTYPE html>
<html>
<head>
</head>
<!DOCTYPE HTML>
<html lang="en-EN">
<head>
	<meta charset="UTF-8">
  <title>Paint for Future - Aid through art</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>	

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fancybox" %>
  <%= javascript_include_tag "http://bxslider.com/sites/default/files/jquery.bxSlider.min.js" %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= render :partial => "home/header" %>
      
     <% flash.each do |name, msg| %>
        <%= content_tag :div, raw(msg), :id => "flash_#{name}" %>
      <% end %>
  <%= yield %>

  <%= render :partial => "home/footer" %>

</body>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29793591-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</html>
