<!DOCTYPE html>
<html>
<head>
</head>
<!DOCTYPE HTML>
<html lang="en-EN">
<head>
	<meta charset="UTF-8">
  <meta name="description" content="Paint for the future - Aid through art. We're a non-profit organisation that focuses on helping children in Sierre Leone through art." />
  <meta name="author" content="Paint for Future" />
  
  <title>Paint for Future - Aid through art</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fancybox" %>
	

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="site-container">
    <div id="site-container-box">
      <%= render :partial => "home/header" %>
          
     <% flash.each do |name, msg| %>
        <%= content_tag :div, raw(msg), :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>

      <%= render :partial => "home/footer" %>
    </div>  
  </div>


<!-- SOCIAL SNIPPETS -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=282725478406647";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async = true;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
  <script type="text/javascript">
    window.___gcfg = {parsetags: 'onload'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
<!-- END SOCIAL SNIPPETS -->


  <script>
    var _gaq=[['_setAccount','UA-29793591-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
